<a href="https://colab.research.google.com/github/bringsrain/catatan-buku-python-untuk-analisis-dan-visualisasi-data/blob/main/bab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
teman = ['Joni Gudel', 'Edi Yunani', 'Toni Sulung', 'Retno Mimin']

In [3]:
pd.Series(teman)

0     Joni Gudel
1     Edi Yunani
2    Toni Sulung
3    Retno Mimin
dtype: object

In [4]:
usia = [17, 21, 33, 45]

In [5]:
pd.Series(usia)

0    17
1    21
2    33
3    45
dtype: int64

In [6]:
berat = [77.5, 46.8, 52.3, 66.8]

In [7]:
pd.Series(berat)

0    77.5
1    46.8
2    52.3
3    66.8
dtype: float64

In [8]:
dataacak = [17, 'Yogyakarta', 18.5, {'kondisi': 100}]
pd.Series(dataacak)

0                  17
1          Yogyakarta
2                18.5
3    {'kondisi': 100}
dtype: object